.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

body {
    background-color: #def2f1;
}

.register-panel {
    background-color: #3aafa9;
}

.register-button {
    background-color: #2b7a78;
}

.nav {
    background-color: #17252A;
}

.flashes h4 {
    line-height: 2;
    background-color: #3aafa9;
}