.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

body {
    background-color: #def2f1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.card-panel, .card {
    background-color: #3aafa9;
}

.register-button {
    background-color: #2b7a78;
}

.nav {
    background-color: #17252A;
}

.page-footer {
    background-color: #17252A;
}

.flashes h4 {
    line-height: 2;
    background-color: #3aafa9;
}

.helper-text {
    text-transform: uppercase;
}

.helper-text:after {
    color: #def2f1 !important;
}    

p a {
    color: #3aafa9;
}

.test {
    background-color: #def2f1;
    border: 0;
}

.ul-style {
    margin-top: 0;
    color: #def2f1;
    border: 0;
    background-color: #2b7a78;
}

.collapsible-header, .collapsible-body {
    background-color: #2b7a78;
    border: 0;
}

.collapsible {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-small, .btn-large {
    background-color: #17252A;
}