{% extends "base.html" %}
{% block content %}

    <h3 class="center-align review-header">Edit your Review!</h3>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-gamepad prefix"></i>
                    <input id="game_name" name="game_name" value="{{ review.game_name }}" 
                        pattern="^[a-zA-Z0-9]{3,30}" type="text" class="validate" required>
                    <label for="game_name" class="white-text">Game Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-edit prefix"></i>
                    <textarea id="game_review" name="game_review" class="materialize-textarea validate" 
                        minlength="10" maxlength="250" required>{{ review.game_review }}</textarea>
                    <label for="game_review" class="white-text">Game review</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-euro-sign prefix"></i>
                        <input id="game_price" name="game_price" value="{{ review.game_price }}"
                            minlength="2" maxlength="30" type="text" class="validate" required>
                        <label for="game_price" class="white-text">Game Price</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-sort-numeric-up-alt prefix"></i>
                        <input id="game_rating" name="game_rating" value="{{ review.game_rating }}"
                            minlength="2" maxlength="30" type="text" class="validate" required>
                        <label for="game_rating" class="white-text">Game Rating (out of 5)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_reviews') }}" class="btn-large">
                            Cancel
                        </a>
                        <button type="submit" class="btn-large">
                            Finish Edit
                        </button>
                    </div>    
                </div>
            </div>
        </form>
    </div>

{% endblock %}