{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Manage All Reviews</h3>

<div class="row">
    {% for review in mang_reviews %}
    <div class="col s12 m3">
        <div class="card center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ review.game_name }}</span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-large">Edit</a>
                <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn-large">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
