{% extends "base.html" %}
{% block content %}

    <h2 class="center-align">Register here  <i class="fas fa-signature"></i></h2>
<!-- register username -->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s6">
                      <i class="fas fa-user-plus prefix "></i>
                      <input id="username" name="username"type="text" pattern="^[a-zA-Z0-9]{8,15}" class="validate" required>
                      <label for="username" class="white-text">Username</label>
                      <span class="helper-text" data-error="wrong" data-success="right">8-15 Char. Alphanumeric</span>
                    </div>
                </div> 
                <!-- register password -->
                <div class="row">
                    <div class="input-field col s6">
                      <i class="fas fa-key prefix "></i>
                      <input id="password" name="password" type="password" pattern="^[a-zA-Z0-9]{8,15}" class="validate" required>
                      <label for="password" class="white-text">Password</label>
                      <span class="helper-text" data-error="wrong" data-success="right">8-15 Char. Alphanumeric</span>
                    </div>
                  </div>  
                  <!-- register ubutton -->
                  <div class="row">
                        <button type="submit" class="col s12 btn-large text-shadow register-button">
                          Register Now! 
                          <i class="fas fa-sign-in-alt"></i>
                        </button>
                  </div>
            </div>
        </form>
    </div>
<!-- button to login -->
    <div class="row">
      <div class="col s12">
        <p class="center-align">
          <a href="{{ url_for('login') }}">Have an account already?</a></p>
      </div>
    </div>

{% endblock %}